$followers-description-font-size: 12px;

busca-page {
	.busca-content{
		background-color: color($colors, background, base);

		.form-busca{
			h4{
				padding: 0 10px 0 10px;
				font-size: 16px;
			}
		}

		.result-busca{
			.busca-col{
				.busca-unit{
					border-bottom: 1px solid #000000;
					.busca-esq{
						padding: 0px;
						padding-top: 10px;
						preload-image{

						}
					}
					.busca-meio{
						.meio-nome{
							.nome-bandeira{

							}
							.nome-nome{
								.p-equipe{
									font-size: 10px;
									line-height: 0px;
									margin-top: 3px;
								}
								.p-nome{
									font-size: 16px;
									font-weight: bold;
									line-height: 0px;
								}
							}
						}
						.meio-medalha{
							max-height: 25px;
							margin-top: -9px;
							.medalha-titulo{
		                        text-align: center;
		                        background-color: #dadada;
								border-radius: 5px 0px 0px 5px;

		                        p{
		                            font-size: 12px;
									color: #868686;
									margin-top: 2px;
		                        }
		                    }
							.medalha-ouro{
								background-color: #f7a401;
								color: $white;
								font-size: 12px;
								text-align: center;
								line-height: 3px;
								p{
									margin-top: 7px;
								}
							}
							.medalha-prata{
								background-color: #777e80;
								color: $white;
								font-size: 12px;
								text-align: center;
								line-height: 3px;
								p{
									margin-top: 7px;
								}
							}
							.medalha-bronze{
								background-color: #b77a49;
								color: $white;
								font-size: 12px;
								text-align: center;
								line-height: 3px;
								p{
									margin-top: 7px;
								}
							}
							.medalha-total{
								border-radius: 0px 5px 5px 0px;
								background-color: #dfe2db;
								color: #353f64;
								font-size: 12px;
								text-align: center;
								line-height: 3px;
								p{
									margin-top: 7px;
								}
							}
						}
						.meio-local{
							font-size: 12px;
						}
					}
					.busca-dir{
						.dir-integra{
							line-height: 3px;
							text-align: center;
							margin-top: -5px;
							.integra-1{
								font-size: 10px;
							}
							.integra-2{
								font-size: 16px;
							}
						}
						.dir-botao{
							text-align: center;
							margin-top: 0px;
							button{
								font-size: 10px;
							}
						}
						.dir-equipe{
							background-color: #000000;
							max-height: 40px;
							border-radius: 5px;
							.p-equipe{
								font-size: 10px;
								line-height: 0px;
								margin-top: 3px;
								color: #FFFFFF;
								text-align: center;
							}
							.p-nome{
								font-size: 15px;
								line-height: 3px;
								color: #FFFFFF;
								text-align: center;
							}
						}
						.dir-inscrever{
							text-align: center;
							margin-top: 0px;
							button{
								font-size: 10px;
							}
						}
					}
				}
			}
		}
	}
}
