<ion-header>
  <ion-navbar>
    <ion-title>{{'PROFILE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="profile-content">
  <div class="user-details">
    <ion-row class="usuario-linha-master">
      <ion-col no-padding width-25>
        <ion-row>
          <preload-image class="user-image" [ratio]="{w:1, h:1}" [(src)]="profile.user.image" alt="profile.user.name" title="profile.user.name" (click)="goToSettings()"></preload-image>
        </ion-row>
        <ion-row class="usuario-esporte">
          <h2 class="usuario-esporte-titulo">ESPORTE</h2>
        </ion-row>
      </ion-col>

      <ion-col no-padding>
        <ion-row class="perfil-topo">
          <ion-col width-25 class="perfil-topo-linha">
            <a (click)="vaiGraduacao()">
              <ion-row class="perfil-topo-linha-contorno-faixa">
                <h2 class="perfil-topo-titulo-faixa">ROXA</h2>
              </ion-row>
            </a>
            <h2 class="perfil-topo-subtitulo">Graduação</h2>
          </ion-col>

          <ion-col width-25 class="perfil-topo-linha">
            <a (click)="vaiPratica()">
              <ion-row class="perfil-topo-linha-contorno">
                <h2 class="perfil-topo-titulo-tempo">8 ANOS</h2>
              </ion-row>
            </a>
            <h2 class="perfil-topo-subtitulo-tempo">Praticando</h2>
          </ion-col>

          <ion-col width-25 class="perfil-topo-linha">
            <a (click)="goToFollowersList()">
              <ion-row class="perfil-topo-linha-contorno">
                <h2 class="perfil-topo-titulo-seguidor">1000 +</h2>
              </ion-row>
            </a>
            <h2 class="perfil-topo-subtitulo">Seguidores</h2>
          </ion-col>

          <ion-col width-25 class="perfil-topo-linha">
            <a (click)="vaiEquipe()">
              <ion-row class="perfil-topo-linha-contorno">
                <h2 class="perfil-topo-titulo-equipe">Zé BJJ</h2>
              </ion-row>
            </a>
            <h2 class="perfil-topo-subtitulo">Equipe</h2>
          </ion-col>
        </ion-row>

        <ion-row class="perfil-meio">

          <ion-col width-50 class="perfil-meio-coluna">
            <a (click)="vaiMedalha()">
              <ion-row class="perfil-meio-linha-contorno-medalha">
                <ion-col width-33 center class="">
                  <preload-image [ratio]="{w:1, h:1}" src="./assets/images/profile/ouro.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
                <ion-col width-33 center class="">
                  <preload-image [ratio]="{w:1, h:1}" src="./assets/images/profile/prata.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
                <ion-col width-33 center class="">
                  <preload-image [ratio]="{w:1, h:1}" src="./assets/images/profile/bronze.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
              </ion-row>
            </a>
          </ion-col>

          <ion-col width-50 class="perfil-meio-coluna">
            <a (click)="vaiMedalha()">
              <ion-row class="perfil-meio-linha-contorno-medalha">
                <h2 class="perfil-meio-titulo-campeao">CAMPEÃO BRASILEIRO</h2>
              </ion-row>
            </a>
          </ion-col>
        </ion-row>

        <ion-row class="perfil-baixo">
          <ion-col class="perfil-baixo-coluna">
            <a (click)="vaiPatrocinador()">
              <ion-row class="perfil-baixo-linha-contorno-patrocinador">
                <ion-col width-20 center class="perfil-baixo-imagem">
                  <preload-image [ratio]="{w:1, h:1}" src="./assets/images/profile/patrocinador.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
                <ion-col width-20 center class="perfil-baixo-imagem">
                  <preload-image [ratio]="{w:1, h:1}" src="./assets/images/profile/patrocinador.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
                <ion-col width-20 center class="perfil-baixo-imagem">
                  <preload-image [ratio]="{w:1, h:1}" src="./assets/images/profile/patrocinador.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
                <ion-col width-20 center class="perfil-baixo-imagem">
                  <preload-image [ratio]="{w:1, h:1}" src="./assets/images/profile/patrocinador.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
                <ion-col width-20 center class="perfil-baixo-imagem">
                  <preload-image [ratio]="{w:1, h:1}" src="./assets/images/profile/patrocinador.png" alt="app logo" title="ion2FullApp"></preload-image>
                </ion-col>
              </ion-row>
            </a>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>
    <ion-row wrap class="user-bio-row">
      <ion-col no-padding width-50>
        <h2 class="user-name">{{profile.user.name}}</h2>
      </ion-col>
      <ion-col no-padding width-50>
        <span class="user-location">{{profile.user.location}}</span>
      </ion-col>
      <ion-col no-padding width-100>
        <p class="user-description">
          {{profile.user.about}}
        </p>
      </ion-col>
    </ion-row>

    <ion-segment class="user-content-segment" [(ngModel)]="display" (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="grid" (ionSelect)="onSegmentSelected($event)">
        {{'GRID' | translate}}
      </ion-segment-button>
      <ion-segment-button value="list" (ionSelect)="onSegmentSelected($event)">
        {{'LIST' | translate}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="display" class="user-content">
    <div *ngSwitchCase="'list'" class="list-view">
      <div class="list-item" *ngFor="let post of profile.posts">
        <span class="item-date">{{post.date}}</span>
        <ion-card>
          <preload-image [ratio]="{w:1, h:1}" [src]="post.image" title=""></preload-image>
          <ion-card-content>
            <p class="item-text">
              {{post.description}}
            </p>
          </ion-card-content>
          <ion-row no-padding class="actions-row">
            <ion-col no-padding width-30 text-left>
              <button class="action-button" ion-button clear small color="danger" icon-left>
                <ion-icon isActive="{{post.liked}}" name='heart'></ion-icon>
                  {{post.likes}} {{'LIKES' | translate}}
              </button>
            </ion-col>
            <ion-col no-padding width-45 text-center>
              <button class="action-button" ion-button clear small color="danger" icon-left>
                <ion-icon name='chatbubbles'></ion-icon>
                  {{post.comments}} {{'COMMENTS' | translate}}
              </button>
            </ion-col>
            <ion-col no-padding width-25 text-right>
              <button class="action-button" ion-button clear small color="danger" icon-left (click)="sharePost(post)">
                <ion-icon name='share-alt'></ion-icon>
                {{'SHARE' | translate}}
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>
    <div *ngSwitchCase="'grid'" class="grid-view">
      <ion-row wrap class="grid-row">
        <ion-col width-33 class="grid-item" *ngFor="let post of profile.posts">
          <preload-image [ratio]="{w:1, h:1}" [src]="post.image" title="ion2FullApp"></preload-image>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
