profile-page {
	$azulpadrao:#4cb8f0;
	.profile-content{
		background-color: color($colors, background, base);

		.user-details{
			@include element-shadow();
			padding-bottom: 4%;
			background-color: $white;

			.usuario-topo{
				padding: 0% 0% 0px;
				@include align-items(center);

				.topo-bg{
					background-color: $black;
					background-image: url(/assets/images/bgprofile.jpg);

					.titulo-cidade{
						color: $white;
						text-align: center;
						padding-top: 0px;

						h6{
							font-size: 12px;
							font-style: oblique;
							text-shadow: 1px 1px 1px #000000;
						}
					}

					.foto-01{
						padding: 10px 5px 0px 5px;


						.foto-usuario{
							border: 5px solid $white;
							border-radius: 50%;
						}

					}

					.topo-botao{
						padding-top: 10px;

						.botao-1{
							padding: 0px 10px 5px 0px;
							.button{
								font-size: 12px;
							}
						}
					}

					.usuario-nome{
						text-align: center;
						color: $white;
						padding: 0px;

						.nome{
							font-size: 20px;
							font-style: oblique;
							text-shadow: 1px 1px 1px #000000;

						}
					}
					.usuario-op{
						text-align: center;
						color: $white;

						.op-borda{
							font-size: 18px;
							color: $white;
						}

						.opcao{
							.subtitulo{
								font-size: 11px;
								line-height: 3px;
								text-shadow: 1px 1px 1px #000000;
							}
							.titulo{
								font-size: 16px;
								font-weight: bold;
								text-shadow: 1px 1px 1px #000000;
								margin-top: 0px;
							}
							.tituloBarra{
								font-size: 16px;
								text-shadow: 1px 1px 1px #000000;
								margin-top: 0px;
							}
						}
					}
					.medalha{
						margin-top: -20px;
						max-height: 30px;

						.medalha-titulo{
	                        text-align: center;
	                        background-color: #dadada;
							border-radius: 5px 0px 0px 0px;

	                        .medalha-titulo{
	                            font-size: 12px;
								color: #868686;
								margin-top: 5px;
	                        }
	                    }
						.medalha-ouro{
							background-color: #f7a401;
							color: $white;
							font-size: 20px;
							text-align: center;
							line-height: 3px;
							p{
								margin-top: 10px;
							}
						}
						.medalha-prata{
							background-color: #777e80;
							color: $white;
							font-size: 20px;
							text-align: center;
							line-height: 3px;
							p{
								margin-top: 10px;
							}
						}
						.medalha-bronze{
							background-color: #b77a49;
							color: $white;
							font-size: 20px;
							text-align: center;
							line-height: 3px;
							p{
								margin-top: 10px;
							}
						}
						.medalha-total{
							border-radius: 0px 5px 0px 0px;
							background-color: #dfe2db;
							color: #353f64;
							font-size: 20px;
							text-align: center;
							line-height: 3px;
							p{
								margin-top: 10px;
							}
						}

					}

				}
			}

			.user-bio-row
			{
				padding: 4%;

				.user-description
				{
					font-size: 1.2rem;
					line-height: 1.6;
					letter-spacing: 0.2px;
					color: $white-d;
					margin: 10px 0px 0px;
				}
			}
		}

		.user-content-segment
		{
			@include segment-button-styles($theme-color-2);

			.segment-button
			{
				@include segment-text-styles($white-d);
			}
		}

		.user-content
		{
			.list-view
			{
				.list-item
				{
					@include basic-card-styles($white-d);

					padding: 12px 0px;

					ion-card {
						margin-top: 0px;
						margin-bottom: 0px;
					}

					.item-date
					{
						font-size: 1.4rem;
						font-weight: 500;
						color: $white-d;
						margin: 0px 18px 4px;
						display: block;
					}
				}
			}

			.grid-view
			{
				padding: 8px 0px 2px;

				.grid-row
				{
					padding: 0px 5px;

					.grid-item
					{
						padding: 0px 3px 6px;
					}
				}

			}
		}
	}
}
