profile-page {
	$azulpadrao:#4cb8f0;
	.profile-content
	{
		background-color: color($colors, background, base);

		.user-details
		{
			@include element-shadow();
			padding-bottom: 4%;
			background-color: $white;

			.usuario-linha-master
			{
				padding: 4% 4% 0px;
				@include align-items(center);

				.user-image
				{
					border-radius: 50%;
				}
				.usuario-esporte{
					text-align: center;
					padding: 5px;
					border-radius: 8px;
					border: 1px solid $theme-color-1;
					margin: 1px;
					min-height: 26px;
					background-color: $theme-color-1;

					.usuario-esporte-titulo{
						margin: 0px;
						font-weight: 400;
						line-height: 1.1;
						letter-spacing: -0.8px;
						vertical-align: middle;
						font-size: 14px;
						color: $white;
					}
				}

				.perfil-topo
				{
					padding: 0px 0px 0px 5px;

					.perfil-topo-linha{

						.perfil-topo-linha-contorno{
							text-align: center;
							padding: 5px;
							border-radius: 8px;
							border: 1px solid #c0c0c1;
							margin: 1px;
							min-height: 26px;

							.perfil-topo-titulo{
								margin: 0px;
								font-weight: 500;
								line-height: 1.1;
								letter-spacing: -0.8px;
								vertical-align: middle;
								color: $black;
							}

							.perfil-topo-titulo-tempo{
								@extend .perfil-topo-titulo;
								font-size: 12px;
							}
							.perfil-topo-titulo-seguidor{
								@extend .perfil-topo-titulo;
								font-size: 14px;
							}
							.perfil-topo-titulo-equipe{
								@extend .perfil-topo-titulo;
								font-size: 14px;
							}
						}
						.perfil-topo-linha-contorno-faixa{
							@extend .perfil-topo-linha-contorno;
							background-color: #720193;

							.perfil-topo-titulo-faixa{
								@extend .perfil-topo-titulo;
								font-size: 14px;
								color: $white;
							}
						}

						a {
							display: block;
							color: $white-d;
						}

						.perfil-topo-subtitulo
						{
							margin: 0px;
							font-size: 10px;
							text-align: center;
							font-weight: 500;
						}
						.perfil-topo-subtitulo-tempo{
							@extend .perfil-topo-subtitulo;
							font-size: 10px;
						}



					}
				}

				.perfil-meio{
					padding: 0px 0px 0px 5px;

					.perfil-meio-coluna{

						.perfil-meio-linha-contorno-medalha{
							text-align: center;
							padding: 1px;
							border-radius: 8px;
							border: 1px solid $theme-color-1;
							margin: 0px;
							min-height: 40px;
							background-color: $theme-color-1;

							.perfil-meio-titulo-campeao{
								margin: 0px;
								font-weight: 400;
								line-height: 1.1;
								letter-spacing: -0.8px;
								vertical-align: middle;
								font-size: 14px;
								color: $white;
								font-weight: 500;
							}
						}

					}
				}

				.perfil-baixo{
					padding: 0px 0px 0px 5px;

					.perfil-baixo-coluna{

						.perfil-baixo-linha-contorno-patrocinador{
							text-align: center;
							padding: 1px;
							border-radius: 8px;
							border: 1px solid $theme-color-1;
							margin: 1px;
							background-color: $theme-color-1;

						}

					}
				}
			}

			.user-bio-row
			{
				padding: 4%;

				.user-name
				{
					font-size: 1.6rem;
					font-weight: 500;
					letter-spacing: 0.2px;
					color: $theme-color-1;
					margin: 0px;
				}

				.user-location
				{
					font-size: 1.2rem;
					font-weight: 500;
					letter-spacing: 0.2px;
					color: $white-d;
					display: block;
				  text-align: right;
				  line-height: 1.6;
				}

				.user-description
				{
					font-size: 1.2rem;
					line-height: 1.6;
					letter-spacing: 0.2px;
					color: $white-d;
					margin: 10px 0px 0px;
				}
			}
		}

		.user-content-segment
		{
			@include segment-button-styles($theme-color-2);

			.segment-button
			{
				@include segment-text-styles($white-d);
			}
		}

		.user-content
		{
			.list-view
			{
				.list-item
				{
					@include basic-card-styles($white-d);

					padding: 12px 0px;

					ion-card {
						margin-top: 0px;
						margin-bottom: 0px;
					}

					.item-date
					{
						font-size: 1.4rem;
						font-weight: 500;
						color: $white-d;
						margin: 0px 18px 4px;
						display: block;
					}
				}
			}

			.grid-view
			{
				padding: 8px 0px 2px;

				.grid-row
				{
					padding: 0px 5px;

					.grid-item
					{
						padding: 0px 3px 6px;
					}
				}

			}
		}
	}
}
